<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Mutant Set"
            visible="true"
            id="org.rayzor.mutant.actionSet">
         <menu
               label="Mutant &amp;"
               id="mutantMenu">
            <separator
                  name="mutantGroup">
            </separator>
         </menu>
         <action
               label="&amp;Mutate"
               icon="icons/logo.jpg"
               class="org.rayzor.mutant.actions.MutantAction"
               tooltip="Mutate"
               menubarPath="mutantMenu/mutantGroup"
               toolbarPath="mutantGroup"
               id="org.rayzor.mutant.actions.MutantAction">
         </action>
      </actionSet>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="MutantView"
            id="org.rayzor.mutantView">
      </category>
      <view
            name="Mutants"
            icon="icons/logo.jpg"
            category="org.rayzor.mutantView"
            class="org.rayzor.mutantview.MutantView"
            id="org.rayzor.mutantview.views.MutantView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.rayzor.mutantview.views.MutantView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
